@import url(http://fonts.googleapis.com/css?family=Racing+Sans+One);
/* =============================================== */
/* Elegant themes icons
/* =============================================== */

.sm-abs { position: relative; }
.sm-abs .sm-etsb-icon {  }
.sm-abs .sm-etsb-icon img {  }
.sm-abs .sm-etsb-title {  }
.sm-abs .sm-etsb-text {  }

.clear:after {
    clear: both;
}

