@import url(http://fonts.googleapis.com/css?family=Racing+Sans+One);

.sm-asb { position: relative;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
/* =============================================== */
/* Elegant themes icons
/* =============================================== */

.sm-asb .sm-etsb-icon { text-align: center; padding: 20px 20px 20px 20px; }
.sm-asb .sm-etsb-icon img { display: inline-block; max-width: 100%; }
.sm-asb .sm-etsb-title { font-size: 24px; text-align: center; word-wrap: break-word; padding: 10px 10px 10px 10px; margin: 0 0 0px 0; }
.sm-asb .sm-etsb-text { padding: 10px 20px 10px 20px; }

/* =============================================== */
/* Font Awesome icons
/* =============================================== */

.sm-asb .sm-fasb-icon { text-align: center; padding: 20px 20px 20px 20px; }
.sm-asb .sm-fasb-icon img,
.sm-asb .sm-fasb-icon i { display: inline-block; max-width: 100%; font-size: 100px; }
.sm-asb .sm-fasb-title { font-size: 24px; text-align: center; word-wrap: break-word; padding: 10px 10px 10px 10px; margin: 0 0 0px 0; }
.sm-asb .sm-fasb-text { padding: 10px 20px 20px 20px; }

.clear:after {
    clear: both;
}

/* =============================================== */
/* Flip card effect
/* =============================================== */

.sm-asb-card-wrapper {    
position: relative;
clear: both;
display: block;
      -webkit-perspective: 800px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
    }

    .sm-asb-card {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
    }

    .sm-asb-card.sm-asb-flipped {
      -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
    }

    .sm-asb-card .sm-asb {
      display: block;      
      position: absolute;
      
      width: 100%;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }

    .sm-asb-card .sm-asb-front { }

    .sm-asb-card .sm-asb-back {
      -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
    }

